<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-building" aria-hidden="true"></i>
            Produktionshallen
        </h4>
    </div>
    <div class="panel-body">
        <h6>Produktionsfläche</h6>
        <p>{{gesamt-frei}} Objekte von maximal {{gesamt}} Stück</p>
        <h6>Auslastung:</h6>
        <a role="button" class="right btn btn-default btn-xs" (click) = "kaufeHalle(1)">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            Upgrade
        </a>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active"
                 role="progressbar"
                 aria-valuenow="40" aria-valuemin="0"
                 aria-valuemax="100"
                 style="width:40%">
                {{gesamt!=0?((gesamt-frei)*100/gesamt):0}}%
            </div>
        </div>
    </div>
</div>