<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="title">Accounts</h4>
                                <p class="category">Liste aller aktiven Kunden im Unternehmen</p>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="panel panel-default">
                                    <div class="content table-responsive table-full-width">
                                        <table id="employeesTable" class="table table-hover table-striped">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Produkt</th>
                                                <th>Menge</th>
                                                <th>Preis pro Einheit</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <!-- Standard-Panel-Inhalt -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            Status
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        <h6>Aktive Verträge:</h6>
                                        <p>13</p>
                                        <h6>Ausbringungsmenge:</h6>
                                        5000 Rucksäcke (A)Luxury<br>
                                        10000 Duffels (B)Commonly
                                        <h6>Lagerbestände:</h6>
                                        3778 Rucksäcke (A)Luxury<br>
                                        6700 Duffels (B)Commonly
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>