<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Nicht monetäre Kennzahlen</h4>
                        <p class="category">Werte der letzden Periode</p>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-3">
                                <kennzahl title="Kundenzufriedenheit" progress="90"></kennzahl>
                            </div>
                            <div class="col-md-3">
                                <kennzahl title="Mitarbeiterzufriedenheit"></kennzahl>
                            </div>
                            <div class="col-md-3">
                                <kennzahl title="Produktqualität" progress="15"></kennzahl>
                            </div>
                            <div class="col-md-3">
                                <kennzahl title="Bekanntheitsgrad" progress="10"></kennzahl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Nicht monetäre Kennzahlen</h4>
                        <p class="category">Werte der letzden Periode</p>

                        <br>
                        <h6>Gewinn:</h6>
                        <p>5.000 €</p>
                        <h6>Umsatz:</h6>
                        <p>300.500 €</p>
                    </div>
                    <div class="content">

                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Nicht monetäre Kennzahlen</h4>
                        <p class="category">Werte der letzden Periode</p>
                    </div>
                    <div class="content">
                        <!-- Radar Chart -->
                        <chart [type]="type" [data]="data" [options]="options"></chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>