<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Nicht monetäre Kennzahlen</h4>
                        <p class="category">Werte der letzten Periode</p>
                    </div>
                    <div class="content">

                        <!-- Radar Chart -->
                        <h6>Kennzahlenübersicht:</h6>
                        <chart [type]="type" [data]="data" [options]="options"></chart>
                        <br>
                        <h6>Lagerbestände:</h6>

                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">GuV</h4>
                        <p class="category">Werte der letzten Perioden</p>
                    </div>
                    <div class="content">
                        <h6>Gewinnbetrachtung:</h6>
                        <chart [type]="type2" [data]="aufwandchar" [options]="options2" #barchart></chart>
                        <br>
                        <h6>Marktanteil:</h6>
                        <chart [type]="type3" [data]="marktanteileData" [options]="options3" #marktchart></chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>