
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="title">Finances</h4>
                                <p class="category">Liste aller Aufwendungen und Erträge</p>
                            </div>
                            <div class="col-md-6">
                                <div class="right">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                            data-target="#myModal">
                                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                                        Kredit aufnehmen
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div>
                            <!-- Tabs-Navs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#SollesJahr" role="tab" data-toggle="tab">aktuelles Jahr</a></li>
                                <li role="presentation"><a href="#jahr1" role="tab" data-toggle="tab">1. Jahr</a></li>
                                <li role="presentation"><a href="#jahr2" role="tab" data-toggle="tab">2. Jahr</a></li>
                                <li role="presentation"><a href="#jahr3" role="tab" data-toggle="tab">3. Jahr</a></li>
                            </ul>
                            <!-- Tab-Inhalte -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="SollesJahr">
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="panel panel-default">
                                                <!-- Standard-Panel-Inhalt -->
                                                <div class="panel-heading">Erfolgskonten</div>

                                                <!-- Listengruppe -->
                                                <ul class="list-group">
                                                    <li class="list-group-item"><table class="table table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <th data-field="afaA">Soll</th>
                                                            <th data-field="afa" style="text-align: center;"><b>A.f.R</b></th>
                                                            <th data-field="afaP" style="text-align: right;">Haben</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>30000 €</td>
                                                            <td></td>
                                                            <td style="text-align: right;">2500 €</td>
                                                        </tr>
                                                        </tbody>
                                                    </table></li>
                                                    <li class="list-group-item"><table class="table table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <th data-field="werbungA">Soll</th>
                                                            <th data-field="werbung" style="text-align: center;"><b>Werbeaufwendungen</b></th>
                                                            <th data-field="werbungP" style="text-align: right;">Haben</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>30000 €</td>
                                                            <td></td>
                                                            <td style="text-align: right;">2500 €</td>
                                                        </tr>
                                                        </tbody>
                                                    </table></li>
                                                    <li class="list-group-item"><table class="table table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <th data-field="gehaltA">Soll</th>
                                                            <th data-field="gehalt" style="text-align: center;"><b>A.f.Gehälter</b></th>
                                                            <th data-field="gehaltP" style="text-align: right;">Haben</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>30000 €</td>
                                                            <td></td>
                                                            <td style="text-align: right;">2500 €</td>
                                                        </tr>
                                                        </tbody>
                                                    </table></li>
                                                    <li class="list-group-item"><table class="table table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <th data-field="energieA">Soll</th>
                                                            <th data-field="energie" style="text-align: center;"><b>Energieaufwendungen</b></th>
                                                            <th data-field="energieP" style="text-align: right;">Haben</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>30000 €</td>
                                                            <td></td>
                                                            <td style="text-align: right;">2500 €</td>
                                                        </tr>
                                                        </tbody>
                                                    </table></li>
                                                    <li class="list-group-item"><table class="table table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <th data-field="zinsA">Soll</th>
                                                            <th data-field="zins" style="text-align: center;"><b>Zinsaufwendungen</b></th>
                                                            <th data-field="zinsP" style="text-align: right;">Haben</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>30000 €</td>
                                                            <td></td>
                                                            <td style="text-align: right;">2500 €</td>
                                                        </tr>
                                                        </tbody>
                                                    </table></li>
                                                    <li class="list-group-item"><table class="table table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <th data-field="fremdA">Soll</th>
                                                            <th data-field="fremd" style="text-align: center;"><b>Fremdinstandhaltung</b></th>
                                                            <th data-field="fremdP" style="text-align: right;">Haben</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>30000 €</td>
                                                            <td></td>
                                                            <td style="text-align: right;">2500 €</td>
                                                        </tr>
                                                        </tbody>
                                                    </table></li>
                                                    <li class="list-group-item"><table class="table table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <th data-field="ausA">Soll</th>
                                                            <th data-field="ausAuf" style="text-align: center;"><b>Außerordentliche Aufwendungen</b></th>
                                                            <th data-field="ausP" style="text-align: right;">Haben</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>30000 €</td>
                                                            <td></td>
                                                            <td style="text-align: right;">2500 €</td>
                                                        </tr>
                                                        </tbody>
                                                    </table></li>
                                                    <li class="list-group-item"><table class="table table-condensed">
                                                        <thead>
                                                        <tr>
                                                            <th data-field="uefeeA">Soll</th>
                                                            <th data-field="uefee" style="text-align: center;"><b>U.e.f.e.E</b></th>
                                                            <th data-field="uefeeP" style="text-align: right;">Haben</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>30000 €</td>
                                                            <td></td>
                                                            <td style="text-align: right;">2500 €</td>
                                                        </tr>
                                                        </tbody>
                                                    </table></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="panel panel-default">
                                                        <!-- Standard-Panel-Inhalt -->
                                                        <div class="panel-heading">Bestandskonten</div>

                                                        <!-- Listengruppe -->
                                                        <ul class="list-group">
                                                            <li class="list-group-item"><table class="table table-condensed">
                                                                <thead>
                                                                <tr>
                                                                    <th data-field="afaA">Soll</th>
                                                                    <th data-field="afa" style="text-align: center;"><b>A.f.R</b></th>
                                                                    <th data-field="afaP" style="text-align: right;">Haben</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>30000 €</td>
                                                                    <td></td>
                                                                    <td style="text-align: right;">2500 €</td>
                                                                </tr>
                                                                </tbody>
                                                            </table></li>
                                                            <li class="list-group-item"><table class="table table-condensed">
                                                                <thead>
                                                                <tr>
                                                                    <th data-field="werbungA">Soll</th>
                                                                    <th data-field="werbung" style="text-align: center;"><b>Werbeaufwendungen</b></th>
                                                                    <th data-field="werbungP" style="text-align: right;">Haben</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>30000 €</td>
                                                                    <td></td>
                                                                    <td style="text-align: right;">2500 €</td>
                                                                </tr>
                                                                </tbody>
                                                            </table></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="panel panel-default">
                                                        <!-- Standard-Panel-Inhalt -->
                                                        <div class="panel-heading">Laufende Kredite</div>

                                                        <!-- Listengruppe -->
                                                        <ul class="list-group">
                                                            <li class="list-group-item">

                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel panel-default">
                                                        <!-- Standard-Panel-Inhalt -->
                                                        <div class="panel-heading">Bilanz</div>

                                                        <!-- Listengruppe -->
                                                        <ul class="list-group">
                                                            <li class="list-group-item">
                                                                <table class="table table-condensed">
                                                                    <thead>
                                                                    <tr>
                                                                        <th data-field="aktiva">Aktiva</th>
                                                                        <th data-field="bilanz" style="text-align: center;"><b>Schlussbilanz zum 31.12.(Jahreszahl)</b></th>
                                                                        <th data-field="passiva" style="text-align: right;">Passiva</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <b>TA Masch</b>
                                                                            30000 €
                                                                        </td>
                                                                        <td></td>
                                                                        <td style="text-align: right;">
                                                                            <b>Eigenkapital</b>
                                                                            2500 €
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="jahr1">...</div>
                                <div role="tabpanel" class="tab-pane" id="jahr2">...</div>
                                <div role="tabpanel" class="tab-pane" id="jahr3">...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>