<nav class="navbar navbar-default navbar-fixed-top" id="header">
    <div class="container-fluid">
        <!--Responsive-->
        <div class="navbar-header">
            <div class="dropdown left" id="responsivedropdown">
                <button class="btn btn-link navbar-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>

            <h3 class="navbar-brand"> {{companyName}}
                <small>{{time}}</small>
            </h3>
        </div>

        <!--Elemente-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-brand">
                    <h4>
                        <i class="fa fa-eur" aria-hidden="true"></i> {{runden(liquideMittel)}}
                    </h4>
                </li>
                <li class="navbar-brand">
                    <h4>
                        <i class="fa fa-users" aria-hidden="true"></i> {{mitarbeiterCount}}
                    </h4>
                </li>
                <li class="navbar-brand">
                    <h4>
                        <i class="fa fa-building" aria-hidden="true"></i>{{gesamteLagerPlaetze-freieLagerPlaetze}}/{{gesamteLagerPlaetze}}
                    </h4>
                </li>
                <li>
                    <button type="button" class="btn btn-success navbar-btn navbar-right" (click)="logOutRequest()">
                        <i class="fa fa-user-circle-o" aria-hidden="true" ></i> Logout
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" [hidden] ="!bankrupt">
        <!--Deathscreen-->
        <div class="ui active page dimmer">
            <div class="content">
                <div class="center">
                    <img src="../../../src/img/skull2.png" height="362" width="400" style="padding-right: 30px;"/>
                    <p style="font-size: 30px;color: black;font-family: 'Walter Turncoat', cursive;">   you're pretty much dead!</p>
                    <button class="ui inverted red secondary button" (click)="logOut()"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> zurück zur landingpage</button>
                </div>
            </div>
        </div>
    </div>
</nav>
