<!--modal Human Resources-->
<base href="/">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <h4 class="modal-title" id="myModalLabel"> Angaben über den Mitarbeiter</h4>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="anzahlMitarbeiter" class="col-sm-2 control-label">Anzahl</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="anzahlMitarbeiter"
                                           placeholder="Anzahl der Mitarbeiter">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="gehaltMitarbeiter" class="col-sm-2 control-label">Gehalt</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <div class="input-group-addon">€</div>
                                        <input type="text" class="form-control" id="gehaltMitarbeiter"
                                               placeholder="Gehalt in Euro">
                                        <div class="input-group-addon">.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="anzahlMitarbeiter" class="col-sm-2 control-label">Anzahl</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="abteilungMitarbeiter">
                                        <option disabled selected>Abteilung</option>
                                        <option>Human Resources</option>
                                        <option>Marketing</option>
                                        <option>Sales</option>
                                        <option>Produktion</option>
                                        <option>Research</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeMyModal" data-dismiss="modal"> Schließen</button>
                <button type="button" class="btn btn-success" id="apiuser"> Speichern</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Machines-->
<base href="/">
<div class="modal fade" id="machineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <h4 class="modal-title" id="myModalLabe2"> Machinendetails</h4>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10"></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeMachineModal" data-dismiss="modal"> Schließen</button>
                <button type="button" class="btn btn-success" id="maschinePost"> Speichern</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Product-->
<base href="/">
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabe3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <h4 class="modal-title" id="myModalLabe3"> Produktdetails</h4>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10"></div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeProductModal" data-dismiss="modal"> Schließen</button>
                <button type="button" class="btn btn-success" id="productPost"> Speichern</button>
            </div>
        </div>
    </div>
</div>

<!--Sidebar-->
<div class="wrapper">
    <div class="sidebar" data-color="green" data-image="../../../src/img/sidebar-a.png">
        <div class="sidebar-wrapper">
            <div class="logo">
                <h1>
                    EARTHBOUND
                </h1>
            </div>
            <nav>
                <ul class="nav">
                    <li routerLink="/dashboard" routerLinkActive="active">
                        <a class="sideBarButton">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li routerLink="/marketing" routerLinkActive="active">
                        <a class="sideBarButton">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <p> Marketing
                            </p>
                        </a>
                    </li>
                    <li routerLink="/human-ressources" routerLinkActive="active">
                        <a class="sideBarButton">
                            <i class="fa fa-id-card" aria-hidden="true"></i>
                            <p> Human Resources
                            </p>
                        </a>
                    </li>
                    <li routerLink="/produktion" routerLinkActive="active">
                        <a class="sideBarButton">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <p> Produktion
                            </p>
                        </a>
                    </li>
                    <li routerLink="/sales" routerLinkActive="active">
                        <a class="sideBarButton">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                            <p> Sales
                            </p>
                        </a>
                    </li>
                    <li routerLink="/accounts" routerLinkActive="active">
                        <a class="sideBarButton">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                            <p> Accounts
                            </p>
                        </a>
                    </li>
                    <li routerLink="/research" routerLinkActive="active">
                        <a class="sideBarButton">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <p> Research
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="main-panel">
        <header-component></header-component>
        <div class="content" id="content">
            <router-outlet></router-outlet>
        </div>
        <!----------------------------------------foooter---------------------------------->
        <footer class="footer">
            <div class="container-fluid" align="right">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills" id="footernav">
                            <nav>
                                <li role="presentation">
                                    <ul class="nav nav-pills" style="padding-top: 10px;padding-bottom: 10px;">
                                        <li>
                                            <a class="sideBarButton" href="#" data-target="impressum"
                                               style="padding-top: 0px;padding-bottom: 0px;">Impressum</a>
                                        </li>
                                        <li>
                                            <a class="sideBarButton" href="#" data-target="faq"
                                               style="padding-top: 0px;padding-bottom: 0px;">FAQ</a>
                                        </li>
                                        <li>
                                            <a class="sideBarButton" href="#" data-target="datenschutz"
                                               style="padding-top: 0px;padding-bottom: 0px;">Datenschutzerklärung</a>
                                        </li>
                                    </ul>
                                </li>
                            </nav>
                        </ul>
                    </div>
                    <br>
                </div>
            </div>
        </footer>
    </div>
</div>