<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="title">Mitarbeiter</h4>
                                <p class="category">Liste aller beschäftigten Mitarbeiter im Unternehmen</p>
                            </div>
                            <div class="col-md-6">
                                <div class="right">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                            data-target="#myModal">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                        Mitarbeiter hinzufügen
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Left Align">
                                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="panel panel-default">
                                    <employee-list></employee-list>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <!-- Standard-Panel-Inhalt -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-building" aria-hidden="true"></i>
                                            Zusätzliche Leistungen
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        Investieren sie in soziale Leistungen für ihre Mitarbeiter. Zufriedene Mitarbeiter können den langfristigen Erfolg ihres Unternehmens positiv beinflussen.
                                    </div>

                                    <!-- Listengruppe -->
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="badge">aktiv</span>
                                            <h6><i class="fa fa-cutlery" aria-hidden="true"></i> Kantine <small>Kosten: 30.000 im Monat</small></h6>
                                            <div class="btn-group btn-group-xs">
                                                <button type="button" class="btn btn-default">Aktivieren</button>
                                                <button type="button" class="btn btn-default">Deaktivieren</button>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">aktiv</span>
                                            <h6><i class="fa fa-wifi" aria-hidden="true"></i> Free-Wifi <small>Kosten: 30.000 im Monat</small></h6>
                                            <div class="btn-group btn-group-xs">
                                                <button type="button" class="btn btn-default">Aktivieren</button>
                                                <button type="button" class="btn btn-default">Deaktivieren</button>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">aktiv</span>
                                            <h6><i class="fa fa-plane" aria-hidden="true"></i> Urlaubsgeld <small>Kosten: 30.000 im Monat</small></h6>
                                            <div class="btn-group btn-group-xs">
                                                <button type="button" class="btn btn-default">Aktivieren</button>
                                                <button type="button" class="btn btn-default">Deaktivieren</button>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">aktiv</span>
                                            <h6><i class="fa fa-tree" aria-hidden="true"></i> Wheinachtsgeld <small>Kosten: 30.000 im Monat</small></h6>
                                            <div class="btn-group btn-group-xs">
                                                <button type="button" class="btn btn-default">Aktivieren</button>
                                                <button type="button" class="btn btn-default">Deaktivieren</button>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">aktiv</span>
                                            <h6><i class="fa fa-child" aria-hidden="true"></i> Kindergarten <small>Kosten: 30.000 im Monat</small></h6>
                                            <div class="btn-group btn-group-xs">
                                                <button type="button" class="btn btn-default">Aktivieren</button>
                                                <button type="button" class="btn btn-default">Deaktivieren</button>
                                            </div>
                                        </li>
                                        <!--
                                        <li class="list-group-item">
                                            <span class="badge">aktiv</span>
                                            <h6><i class="fa fa-bed" aria-hidden="true"></i> Pausenraum <small>Kosten: 30.000 im Monat</small></h6>
                                            <div class="btn-group btn-group-xs">
                                                <button type="button" class="btn btn-default">Aktivieren</button>
                                                <button type="button" class="btn btn-default">Deaktivieren</button>
                                            </div>
                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>