<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="title">Mitarbeiter</h4>
                                <p class="category">Liste aller beschäftigten Mitarbeiter im Unternehmen</p>
                            </div>
                            <div class="col-md-6">
                                <div class="right">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                            data-target="#myModal">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                        Mitarbeiter hinzufügen
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Left Align">
                                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="panel panel-default">
                                    <div class="content table-responsive table-full-width">
                                    <table id="employeesTable" class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th data-field="imagelink" data-formatter="imageFormatter">Bild</th>
                                            <th data-field="vorname">Vorname</th>
                                            <th data-field="name">Name</th>
                                            <th data-field="gehalt">Gehalt</th>
                                            <th data-field="gender">Abteilung</th>
                                            <th data-formatter="tablebuttonFormatter"></th>
                                        </tr>
                                        </thead>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                    </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <!-- Standard-Panel-Inhalt -->
                                    <div class="panel-heading">Panel-Überschrift</div>
                                    <div class="panel-body">
                                        <p>...</p>
                                    </div>

                                    <!-- Listengruppe -->
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <i class="fa fa-cutlery" aria-hidden="true">
                                                Kantine
                                            </i>
                                        </li>
                                        <li class="list-group-item">
                                            <i class="fa fa-child" aria-hidden="true"></i>
                                        </li>
                                        <li class="list-group-item">
                                            <i class="fa fa-bed" aria-hidden="true"></i>
                                        </li>
                                        <li class="list-group-item">
                                            <i class="fa fa-tree" aria-hidden="true"></i>
                                        </li>
                                        <li class="list-group-item">
                                            <i class="fa fa-wifi" aria-hidden="true"></i>
                                        </li>
                                        <li class="list-group-item">
                                            <i class="fa fa-plane" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>