<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="title">Marketingkampagnen</h4>
                            <p class="category">Liste aller möglichen Werbekampagnen für ihr Unternehmen</p>
                        </div>
                        <div class="col-md-4">
                            <div align="right">
                                <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#">
                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                    Werbekampagne hinzufügen
                                </button>
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <i class="fa fa-television" aria-hidden="true"></i>
                                                    TV Spot
                                                </h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="media">
                                                    <div class="media-left media-top">
                                                        <a href="#">
                                                            <img class="media-object" src="../../../src/img/marketing/monitor.png"
                                                                 alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        Erstellen Sie einen TV Spot um ihre Produkte zu bewerben und ihren Bekanntheitsgrad zu steigern.
                                                    </div>
                                                </div>
                                                <h6>Kosten</h6>
                                                <p>500 € pro Tag</p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <i class="fa fa-microphone" aria-hidden="true"></i>
                                                    Radio Kampagne
                                                </h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="media">
                                                    <div class="media-left media-top">
                                                        <a href="#">
                                                            <img class="media-object" src="../../../src/img/marketing/antenna.png"
                                                                 alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        Erstellen Sie einen TV Spot um ihre Produkte zu bewerben und ihren Bekanntheitsgrad zu steigern.
                                                    </div>
                                                </div>
                                                <h6>Kosten</h6>
                                                <p>200 € pro Tag</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <i class="fa fa-mobile" aria-hidden="true"></i>
                                                    Social Media Kampagne
                                                </h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="media">
                                                    <div class="media-left media-top">
                                                        <a href="#">
                                                            <img class="media-object" src="../../../src/img/marketing/social.png"
                                                                 alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        Erstellen Sie einen TV Spot um ihre Produkte zu bewerben und ihren Bekanntheitsgrad zu steigern.
                                                    </div>
                                                </div>
                                                <h6>Kosten</h6>
                                                <p>500 € pro Tag</p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <i class="fa fa-print" aria-hidden="true"></i>
                                                    Print Media Kampagne
                                                </h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="media">
                                                    <div class="media-left media-top">
                                                        <a href="#">
                                                            <img class="media-object" src="../../../src/img/marketing/text-lines.png"
                                                                 alt="...">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        Erstellen Sie einen TV Spot um ihre Produkte zu bewerben und ihren Bekanntheitsgrad zu steigern.
                                                    </div>
                                                </div>
                                                <h6>Kosten</h6>
                                                <p>200 € pro Tag</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <!-- Standard-Panel-Inhalt -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <i class="fa fa-building" aria-hidden="true"></i>
                                            Aktive Werbekampagnen
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        Hier sind alle aktiven Werbekampagnen gelistet.
                                    </div>

                                    <!-- Listengruppe -->
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <span class="badge">20 Tage verbleibend</span>
                                            <h6><i class="fa fa-television" aria-hidden="true"></i> TV Spot</h6>
                                            Gesamtkosten: 30.000
                                        </li>
                                        <li class="list-group-item">
                                            <span class="badge">300 Tage verbleibend</span>
                                            <h6><i class="fa fa-mobile" aria-hidden="true"></i> Social Media Kampagne</h6>
                                            Gesamtkosten: 2.500
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>