<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">

                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title">Marketingkampagnen</h4>
                                <p class="category">Liste aller möglichen Produktlinien in ihrem Unternehmen</p>
                            </div>
                            <div class="col-md-4">
                                <div align="right">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success" align="right" data-toggle="modal"
                                            data-target="#">
                                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                        Produktlinie hinzufügen
                                    </button>
                                    <button type="button" align="right" class="btn btn-default" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <!--<div class="thumbnail">
                                    <img src="assets/img/produkte/rucksack.png" alt="...">
                                    <div class="caption">
                                        <h3>Rucksäcke</h3>
                                        <p>Erstellen sie eine neue Fertigungsreihe von handelsüblichen Rucksäcken für
                                            den Verkauf ihres Unternehmens.</p>
                                    </div>
                                </div>-->

                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                               <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                   <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Maschienen
                                               </a>

                                                       <a role="button" class="btn btn-success right">
                                                           <i class="fa fa-cart-plus" aria-hidden="true"></i> Neu
                                                       </a>


                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                            <ul class="list-group">
                                                <li class="list-group-item">Cras justo odio</li>
                                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                                <li class="list-group-item">Morbi leo risus</li>
                                                <li class="list-group-item">Porta ac consectetur ac</li>
                                                <li class="list-group-item">Vestibulum at eros</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <!--<div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="assets/img/produkte/technisch.png" alt="...">
                                    <div class="caption">
                                        <h3>Rucksäcke (tech.)</h3>
                                        <p>Erstellen sie eine neue Fertigungsreihe von technischen Rucksäcken für
                                            Abenteuer und Outdoor Fans.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <img src="assets/img/produkte/duffel.png" alt="...">
                                    <div class="caption">
                                        <h3>Duffels</h3>
                                        <p>Erstellen sie eine neue Fertigungsreihe von Duffel Bags für den speziellen
                                            Gebrauch und Bergsteigern.</p>
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <img src="assets/img/produkte/gepaeck.png" alt="...">
                                    <div class="caption">
                                        <h3>Gepäcktaschen</h3>
                                        <p>Erstellen sie eine neue Fertigungsreihe von Gepäcktaschen für reiselustige
                                            und den alltäglichen Gebrauch.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>