<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="title">Research <i class="fa fa-users" aria-hidden="true"></i> {{employees}}</h4>
                                <p class="category">Übersicht aller möglichen und aktiven Forschungen</p>
                            </div>
                            <div class="col-md-6">
                                <div class="right">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-success" data-toggle="modal"
                                            data-target="#researchModal">
                                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                                        Forschen
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="error">
                        <div class="col-md-12">
                            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                <h4>NICHT GENÜGEND MITARBEITER</h4>
                                <p> Es sind nicht genügend Mitarbeiter in der Abteilung 'Research' eingestellt</p>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <research-list></research-list>
                            </div>
                            <div class="col-md-6">
                                <old-research-list></old-research-list>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>