<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="title">Sales <i class="fa fa-users" aria-hidden="true"></i> 12</h4>



                                <p class="category">Liste aller Ausschreibungen und Leads in dem Unternehmen</p>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="well well-sm">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i> Ausschreibungen
                                </div>
                                <ausschreibungen-list-component></ausschreibungen-list-component>
                            </div>
                            <div class="col-md-6">
                                <div class="well well-sm">
                                    <i class="fa fa-handshake-o" aria-hidden="true"></i> Opportunities
                                </div>
                                <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="überschriftEins2">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion2"
                                                   href="#collapseEins2" aria-expanded="true"
                                                   aria-controls="collapseEins2">
                                                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                                                    Angebot #1
                                                </a>
                                                <span class="badge right">23 Tage verbleibend</span>
                                            </h4>
                                        </div>
                                        <div id="collapseEins2" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="überschriftEins2">
                                            <div class="panel-body">
                                                <div>
                                                    <a role="button" class="btn btn-success btn-xs right"
                                                       data-toggle="modal"
                                                       data-target="#">
                                                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                        Angebot zurückziehen
                                                    </a>
                                                    <h4>Ausschreibung für Rucksäcke</h4>
                                                    <br>
                                                    <h6>Produkt:</h6>
                                                    <p>5.000 Rucksäcke pro Periode der Stufe A-Luxury</p>
                                                    <h6>Laufzeit:</h6>
                                                    <p>48 Monate</p>
                                                    <h6>Dealvolumen:</h6>
                                                    <p>400 Milliarden €</p>
                                                    <h6>Konventionalstrafe:</h6>
                                                    <p>500.000 €</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>