<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#login" aria-controls="login" role="tab" data-toggle="tab"
                                   color="green">Login</a>
                            </li>
                            <li role="presentation">
                                <a href="#registrierung" aria-controls="registrierung" role="tab"
                                   data-toggle="tab">Registrierung</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">

                            <!--LOGIN TAB-->
                            <div id="login" role="tabpanel" class="tab-pane active">
                                <login-formular>Lade Login</login-formular>
                            </div>
                            <!-- REGISTRIERUNG -->
                            <div role="tabpanel" class="tab-pane" id="registrierung">
                                <register-formular>Load Login</register-formular>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="background-wrap">
        <video id="video-bg-elem" preload="auto" autoplay="true" loop="loop" muted="muted">
            <source src="src/img/video.mp4" type="video/mp4">
            Video not supported
        </video>
    </div>
    <nav class="navbar navbar-default navbar-fixed-top" id="headerlandingpage">
        <div class="container-fluid">
            <!--Responsive-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
            <!--Elemente-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button type="button" class="btn btn-success navbar-btn" data-toggle="modal"
                                data-target="#impressumModal">
                            IMPRESSUM
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-success navbar-btn">
                            DATENSCHUTZERKLÄRUNG
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-success navbar-btn">
                            FAQ
                        </button>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="button" class="btn btn-success navbar-btn navbar-right">
                            <i class="fa fa-users" aria-hidden="true"></i> SPIELER
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-success navbar-btn navbar-right">
                            <i class="fa fa-th-list" aria-hidden="true"></i> HIGHSCORES
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
            <div id="heading">
                <h1>EARTHBOUND</h1>
            </div>
            <p>It's time for <br>another ADVENTURE</p>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">

                        <!-- Button, der das Modal aufruft -->
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#loginModal">
                            Jetzt Loslegen!
                        </button>

                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        <div id="beta">
            <h6><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Open Beta
            </h6>
            <p>
                In Development
            </p>
        </div>

    </div>
</div>
