<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="title">Sales <i class="fa fa-users" aria-hidden="true"></i> {{employees}}</h4>



                                <p class="category">Liste aller Ausschreibungen und Leads in dem Unternehmen</p>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="row" *ngIf="errorOpportunities">
                            <div class="col-md-12">
                                <div  class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <h4>ZU WENIGE MITARBEITER</h4>
                                    <p>Sie haben nicht genügend Mitarbeiter in der Abteilung 'Sales' eingestellt!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="errorBereitsBeworben">
                            <div class="col-md-12">
                                <div  class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <h4>BEREITS BEWORBEN</h4>
                                    <p>Sie haben sich bereits auf diese Ausschreibung beworben!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="well well-sm">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i> Ausschreibungen
                                </div>
                                <ausschreibungen-list-component></ausschreibungen-list-component>
                            </div>
                            <div class="col-md-6">
                                <div class="well well-sm">
                                    <i class="fa fa-handshake-o" aria-hidden="true"></i> Opportunities
                                </div>
                                <opportunities-list-component></opportunities-list-component>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>