<div id='carousel-custom' class='carousel slide' data-ride='carousel' data-interval="false">
    <div class='carousel-outer'>
        <!-- Wrapper for slides -->
        <div class='carousel-inner'>
            <div class='item active' style="padding-left: 20px;padding-right: 15px;padding-top: 3px">
                <img src="../../../src/img/produkte/rucksack.png"/>

                <div class="panel panel-default">
                    <!-- Standard-Panel-Inhalt -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-table" aria-hidden="true"></i> Rucksäcke
                        </h4>
                    </div>
                    <!-- Tabelle RUCKSACK -->
                    <div class="content table-responsive table-full-width">
                        <table id="rucksackTable" class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Menge</th>
                                <th>Qualitätsstufe</th>
                                <th>Herstellkosten</th>
                                <th>Laufzeit</th>
                            </tr>
                            </thead>
                            <tbody *ngIf="data">
                            <tr *ngFor="let produkt of data.Rucksack">

                                <td>{{produkt.menge}} Stück</td>
                                <td>{{produkt.produkt.qualitaetsstufe}}</td>
                                <td>{{produkt.produkt.herstellkosten}}€</td>
                                <td>{{produkt.laufzeit}} Tage</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class='item' style="padding-left: 20px;padding-right: 15px;padding-top: 3px">
                <img src="../../../src/img/produkte/technisch.png"/>
                <div class="panel panel-default">
                    <!-- Standard-Panel-Inhalt -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-table" aria-hidden="true"></i> Technische Rucksäcke
                        </h4>
                    </div>
                    <!-- Tabelle RUCKSACKTECH-->
                    <div class="content table-responsive table-full-width">
                        <table id="rucksackTechTable" class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Menge</th>
                                <th>Qualitätsstufe</th>
                                <th>Herstellkosten</th>
                                <th>Laufzeit</th>
                            </tr>
                            </thead>
                            <tbody *ngIf="data">
                            <tr *ngFor="let produkt of data.RucksackTech">

                                <td>{{produkt.menge}} Stück</td>
                                <td>{{produkt.produkt.qualitaetsstufe}}</td>
                                <td>{{produkt.produkt.herstellkosten}}€</td>
                                <td>{{produkt.laufzeit}} Tage</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class='item' style="padding-left: 20px;padding-right: 15px;padding-top: 3px">
                <img src="../../../src/img/produkte/duffel.png"/>
                <div class="panel panel-default">
                    <!-- Standard-Panel-Inhalt -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-table" aria-hidden="true"></i> Duffels
                        </h4>
                    </div>
                    <!-- Tabelle DUFFEL-->
                    <div class="content table-responsive table-full-width">
                        <table id="duffelTable" class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Menge</th>
                                <th>Qualitätsstufe</th>
                                <th>Herstellkosten</th>
                                <th>Laufzeit</th>
                            </tr>
                            </thead>
                            <tbody *ngIf="data">
                            <tr *ngFor="let produkt of data.Duffel">

                                <td>{{produkt.menge}} Stück</td>
                                <td>{{produkt.produkt.qualitaetsstufe}}</td>
                                <td>{{produkt.produkt.herstellkosten}}€</td>
                                <td>{{produkt.laufzeit}} Tage</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class='item' style="padding-left: 20px;padding-right: 15px;padding-top: 3px">
                <img src="../../../src/img/produkte/gepaeck.png"/>
                <div class="panel panel-default">
                    <!-- Standard-Panel-Inhalt -->
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <i class="fa fa-table" aria-hidden="true"></i> Gepäcktaschen
                        </h4>
                    </div>
                    <!-- Tabelle GEPÄCK-->
                    <div class="content table-responsive table-full-width">
                        <table id="gepaeckTable" class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Menge</th>
                                <th>Qualitätsstufe</th>
                                <th>Herstellkosten</th>
                                <th>Laufzeit</th>
                            </tr>
                            </thead>
                            <tbody *ngIf="data">
                            <tr *ngFor="let produkt of data.Reisetasche">

                                <td>{{produkt.menge}} Stück</td>
                                <td>{{produkt.produkt.qualitaetsstufe}}</td>
                                <td>{{produkt.produkt.herstellkosten}}€</td>
                                <td>{{produkt.laufzeit}} Tage</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <!-- Controls -->
        <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
            <i id="carousel-icon-left" class="fa fa-chevron-circle-left"
               aria-hidden="true"></i>
        </a>
        <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
            <i id="carousel-icon-right" class="fa fa-chevron-circle-right"
               aria-hidden="true"></i>
        </a>
    </div>

    <!-- Indicators -->
    <ol class='carousel-indicators'>
        <li data-target='#carousel-custom' data-slide-to='0' class='active'>
            <i class="fa fa-circle-o on" aria-hidden="true"></i>
            <i class="fa fa-circle off" aria-hidden="true"></i>
        </li>
        <li data-target='#carousel-custom' data-slide-to='1'>
            <i class="fa fa-circle-o on" aria-hidden="true"></i>
            <i class="fa fa-circle off" aria-hidden="true"></i>
        </li>
        <li data-target='#carousel-custom' data-slide-to='2'>
            <i class="fa fa-circle-o on" aria-hidden="true"></i>
            <i class="fa fa-circle off" aria-hidden="true"></i>
        </li>
        <li data-target='#carousel-custom' data-slide-to='3'>
            <i class="fa fa-circle-o on" aria-hidden="true"></i>
            <i class="fa fa-circle off" aria-hidden="true"></i>
        </li>
    </ol>
</div>