<div role="tabpanel" class="tab-pane active" id="SollesJahr" *ngIf="keyfigures">
    <br>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <!-- Standard-Panel-Inhalt -->
                <div class="panel-heading">interne Bilanz</div>

                <!-- Listengruppe -->
                <ul class="list-group">
                    <li class="list-group-item">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th data-field="aktiva">Aktiva</th>
                                <th data-field="bilanz" style="text-align: center;"><b>Aktueller Bilanzstand zum {{time}}</b></th>
                                <th data-field="passiva" style="text-align: right;float:right;">Passiva</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <ul style="list-style-type: none;white-space:nowrap;">
                                        <li><b>Gebäude</b></li>
                                        <li><b>TA Masch</b></li>
                                        <li><b>Fertig Erzeugnisse</b></li>
                                        <li><b>liquide Mittel</b></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul style="list-style-type: none;white-space:nowrap;">
                                        <li>{{runden(keyfigures.bilanz.gebaeudeWert)}} €</li>
                                        <li>{{runden(keyfigures.bilanz.taMaschWert)}} €</li>
                                        <li>{{runden(keyfigures.bilanz.feWert)}} €</li>
                                        <li>{{runden(keyfigures.bilanz.liquideMittel)}} €</li>
                                    </ul>
                                </td>
                                <td></td>
                                <td style="text-align: right;">
                                    <ul style="list-style-type: none; ">
                                        <li><b>Eigenkapital</b></li>
                                        <li><b>Fremdkapital</b></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </td>
                                <td style="white-space:nowrap;">
                                    <ul style="list-style-type: none; white-space:nowrap;">
                                        <li>{{runden(keyfigures.bilanz.eigenkapital)}} €</li>
                                        <li>{{runden(keyfigures.bilanz.fremdkapital)}} €</li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td><b>{{runden(keyfigures.bilanz.summeAktiva)}} €</b></td>
                                <td></td>
                                <td></td>
                                <td><b>{{runden(keyfigures.bilanz.summePassiva)}} €</b></td>
                            </tr>
                            </tfoot>
                        </table>
                    </li>
                </ul>
            </div>

            <!--GUV-->
            <div class="panel panel-default">
                <!-- Standard-Panel-Inhalt -->
                <div class="panel-heading">GuV</div>

                <!-- Listengruppe -->
                <ul class="list-group">
                    <li class="list-group-item">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th data-field="aktiva">Aktiva</th>
                                <th data-field="bilanz" style="text-align: center;"><b>Aktueller GuV zum {{time}}</b></th>
                                <th data-field="passiva" style="text-align: right;">Passiva</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <ul style="list-style-type: none;white-space:nowrap;">
                                        <li><b>Aufwendungen für Rohstoffe</b></li>
                                        <li><b>Aufwendungen für Werbung</b></li>
                                        <li><b>Aufwendungen für Gehälter</b></li>
                                        <li><b>Aufwendungen für Energie</b></li>
                                        <li><b>Aufwendungen für Soziale Leistungen</b></li>
                                        <li><b>Aufwendungen für Zinsen</b></li>
                                        <li><b>Aufwendungen für Fremdinstandhaltung</b></li>
                                        <li><b>Aufwendungen für Schadensersatz</b></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul style="list-style-type: none;white-space:nowrap;">
                                        <li>{{runden(keyfigures.guv.aufwendungenFuerRohstoffe)}} €</li>
                                        <li>{{runden(keyfigures.guv.aufwendungenFuerWerbung)}} €</li>
                                        <li>{{runden(keyfigures.guv.aufwendungenFuerGehaelter)}} €</li>
                                        <li>{{runden(keyfigures.guv.aufwendungenFuerEnergie)}} €</li>
                                        <li>{{runden(keyfigures.guv.aufwendungenFuerSozialeLeistungen)}} €</li>
                                        <li>{{runden(keyfigures.guv.zinsaufwendungen)}} €</li>
                                        <li>{{runden(keyfigures.guv.fremdinstandhaltung)}} €</li>
                                        <li>{{runden(keyfigures.guv.geleisteterSchadensersatz)}} €</li>
                                    </ul>
                                </td>
                                <td></td>
                                <td style="text-align: right;">
                                    <ul style="list-style-type: none; ">
                                        <li><b>Umsatzerlöse</b></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </td>
                                <td style="white-space:nowrap;">
                                    <ul style="list-style-type: none; white-space:nowrap;">
                                        <li>{{runden(keyfigures.guv.umsatzErloese)}} €</li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td><b>{{runden(keyfigures.bilanz.summeAktiva)}} €</b></td>
                                <td></td>
                                <td></td>
                                <td><b>{{runden(keyfigures.bilanz.summePassiva)}} €</b></td>
                            </tr>
                            </tfoot>
                        </table>
                    </li>
                </ul>
            </div>
        </div>

       <kredit-list-component></kredit-list-component>
    </div>
</div>
