<div class="col-md-4">
    <div class="panel panel-default">
        <!-- Standard-Panel-Inhalt -->
        <div class="panel-heading">Laufende Kredite</div>

        <!-- Listengruppe -->
        <ul class="list-group" *ngIf="credits">
            <li class="list-group-item" *ngFor="let credit of credits">
                <table>
                    <tr>
                        <td><b>Laufzeit</b></td>
                        <td>{{credit.laufzeit}}</td>
                    </tr>
                    <tr>
                        <td><b>Höhe</b></td>
                        <td>{{credit.hoehe}}</td>
                    </tr>
                    <tr>
                        <td><b>Restwert</b></td>
                        <td>{{credit.restwert}}</td>
                    </tr>
                    <tr>
                        <td><b>Zinssatz</b></td>
                        <td>{{credit.zinssatz}}</td>
                    </tr>
                    <tr>
                        <td><b>Zinsen</b></td>
                        <td>{{credit.zinsen}}</td>
                    </tr>
                    <tr>
                        <td><b>Tilgung</b></td>
                        <td>{{credit.tilgung}}</td>
                    </tr>
                    <tr>
                        <td><b>Annuität</b></td>
                        <td>{{credit.annuitaet}}</td>
                    </tr>
                    <tr>
                        <td><b>Anfang</b></td>
                        <td>{{credit.beginn}}</td>
                    </tr>
                    <tr>
                        <td><b>Ende</b></td>
                        <td>{{credit.end}}</td>
                    </tr>
                </table>
            </li>
        </ul>
    </div>
</div>