<!--
 Created by boebel on 13.01.2017.
-->
<div class="content table-responsive table-full-width">
    <table id="employeesTable" class="table table-hover table-striped">
        <thead>
            <tr>
                <th data-field="imagelink" data-formatter="imageFormatter">Bild</th>
                <th data-field="vorname">Vorname</th>
                <th data-field="name">Name</th>
                <th data-field="gehalt">Gehalt</th>
                <th data-field="gender">Abteilung</th>
                <th data-formatter="tablebuttonFormatter"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mitarbeiter of mitarbeiterList">
                <td><img style="border-radius: 50%; width: 50px;" [src]="mitarbeiter.imagelink"/></td>
                <td style="text-transform: capitalize;">{{mitarbeiter.vorname}}</td>
                <td style="text-transform: capitalize;">{{mitarbeiter.name}}</td>
                <td>{{mitarbeiter.gehalt}} €</td>
                <td>{{mitarbeiter.department.name}}</td>
                <td><button  class ="btn btn-default btn-xs" (click) ="fire(mitarbeiter)">Kündigen!</button></td>
            </tr>
        </tbody>

    </table>
</div>