<div class="content table-responsive table-full-width" *ngIf="accounts">
    <table id="employeesTable" class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Kunde</th>
            <th>Produkt</th>
            <th>Menge</th>
            <th>Preis pro Einheit</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let account of accounts">
            <td>{{account.kunde}}</td>
            <td>{{account.produktlinie.produkt.name}}</td>
            <td>{{account.produktlinie.menge}}</td>
            <td>{{account.preis}}€</td>
        </tr>
        </tbody>

    </table>
</div>