<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true" *ngIf="opportunities">
    <div class="panel panel-default" *ngFor="let opportunity of opportunities;let i = index">
        <div class="panel-heading" role="tab" id="überschriftEins2">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion2"
                   [href]="'#collapse' + i" aria-expanded="true"
                   aria-controls="collapseEins2">
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    Angebot #{{1+i}}
                </a>
                <span class="badge right">23 Tage verbleibend</span>
            </h4>
        </div>
        <div [id]="'collapse' + i" class="panel-collapse collapse" role="tabpanel"
             aria-labelledby="überschriftEins2">
            <div class="panel-body">
                <div>
                    <!--<a role="button" class="btn btn-success btn-xs right"
                       data-toggle="modal"
                       data-target="#">
                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                        Angebot zurückziehen
                    </a>-->
                    <h4 *ngIf="opportunity.vertrag.produktlinie.name == 'Rucksack'">Ausschreibung für Rucksäcke</h4>
                    <h4 *ngIf="opportunity.vertrag.produktlinie.name == 'Duffel'">Ausschreibung für Duffels</h4>
                    <h4 *ngIf="opportunity.vertrag.produktlinie.name == 'Rucksacktech'">Ausschreibung für technische Rucksäcke</h4>
                    <h4 *ngIf="opportunity.vertrag.produktlinie.name == 'Reisetasche'">Ausschreibung für Reisetaschen</h4>
                    <br>
                    <h6>Produkt:</h6>
                    <p>{{opportunity.vertrag.produktlinie.menge}} {{opportunity.vertrag.produktlinie.produkt.name}} pro Periode der Stufe {{opportunity.vertrag.produktlinie.produkt.qualitaetsstufe}}</p>
                    <h6>Laufzeit:</h6>
                    <p>{{opportunity.vertrag.laufzeit}} Monate</p>
                    <h6>Dealvolumen:</h6>
                    <p>{{opportunity.vertrag.preis}} €</p>
                    <h6>Konventionalstrafe:</h6>
                    <p>{{opportunity.vertrag.strafe}}€</p>
                </div>
            </div>
        </div>
    </div>
</div>