<div class="modal fade" id="marketingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabe3">
    <div class="modal-dialog" role="document">
        <form class="form-horizontal" [formGroup]="newCampaign" (ngSubmit)="onSubmit(newCampaign.value)">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <h4 class="modal-title" id="myModalLabe3"> Marketingkampagne</h4>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <label for="marketingType" class="col-sm-2 control-label">Kampagne</label>
                                <div class="col-sm-10" [ngClass]="{'has-error':!newCampaign.controls['art'].valid}">
                                    <select class="form-control" [formControl]="newCampaign.controls['art']"
                                            id="marketingType">
                                        <option disabled selected>Auswählen...</option>
                                        <option value="TV">TV Spot</option>
                                        <option value="Social Media">Social Media Kampagne</option>
                                        <option value="Radio">Radio Kampagne</option>
                                        <option value="Print">Print Media Kampagne</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="marketingTime" class="col-sm-2 control-label">Dauer</label>
                                <div class="col-sm-10" [ngClass]="{'has-error':!newCampaign.controls['laufzeit'].valid}">>
                                    <input type="text" class="form-control"
                                           id="marketingTime"
                                           placeholder="Dauer in Tagen"
                                           [formControl]="newCampaign.controls['laufzeit']"
                                           required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <button type="submit" class="btn btn-success right" id="marketingPost" data-dismiss="modal"
                                    onclick="$('#marketingModal').modal('toggle');" [disabled]="!newCampaign.valid">
                                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Starten
                            </button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
